section{
    padding-right:8vw ;
    padding-left: 8vw;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: -95px;
    padding-right:8vw ;
    padding-left: 8vw;
    
    
    
}
.ancre-container{
    display: flex;
    flex-direction: row;
    gap: 1vw;
   padding-right: 4vw;
}
nav h2{
    color: #695AA6;
    font-weight: 1000;
    font-family: "Baloo 2";
}
nav a{
    color: rgba(0, 0, 0, 0.656);
    text-decoration: none;
    font-weight: bold;
    font-family: "Baloo 2";
}

header{
    padding-right:8vw ;
    padding-left: 8vw;
    background: linear-gradient(180deg,rgba(255, 95, 47, 0) 50%, rgb(255, 255, 255) 90%), url(/images/header.jpg) no-repeat;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: 50% 29%;
    padding-top: 100px;
    
    
}
header h1{
    font-family: "Baloo 2";
    font-weight: 1000;
    font-size: 6vh;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 8vh;
    padding-bottom: 0;
}
header h3{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 100;
    letter-spacing:0.3vw;
    margin-top: 0;
    margin-bottom: 4vh;
    
}
.gray{
    color: rgba(54, 53, 53, 0.8);
}
.visit{
    background-color: #695AA6;
    color: white;
    border-radius: 15px;
    border: none;
    width: 15vw;
    height: 5vh;
}